button
{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(124, 124, 124, 0.2) inset;
}


#button
{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    margin: 25px;
}


#box
{
    border-radius: 50px;
    overflow: hidden;
    max-width: 430px;
    overflow: hidden;
    border: 3px solid rgb(43, 43, 48);
    font-family: Arial, sans-serif;
    background-color: rgb(41,40,51);
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.2);
}

body 
{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    background-color: rgb(133, 126, 200);
}

.btn-purple
{
    background: rgb(64, 42, 110);
    color: white;
}

.btn-purple:hover
{
    background-color: rgb(69, 51, 109);
}

.btn-dark
{
    background: rgb(53,50, 62);
}

.btn-dark:hover
{
    background-color: rgb(61, 58, 69);
}

.btn-ce
{
    color: rgb(133,90,227);
    background:linear-gradient(rgb(41, 41, 50),rgb(56, 53, 64));
}

.btn-ce:hover
{
    background:linear-gradient(rgb(39, 39, 47),rgb(39,39,47));
}

.btn-result
{
    color:white;
    background:linear-gradient(rgb(106,65,191),rgb(126,81,219))

}

.btn-ce:active, .btn-dark:active, .btn-purple:active
{
    background-color:rgb(143, 143, 143) ;
}


#screen
{
    width: 90%;
    height:100px;
    padding:0px;
    font-size: 3rem;
    color: white;
    border:none;
    text-align: right;
    background-color:rgb(41,40,51);
}